
---
title: '通过了Bittrex的身份验证（Identity Verification）'
permlink: bittrexidentity-verification
catalog: true
toc_nav_num: true
toc: true
date: 2019-03-24 12:37:12
categories:
- cn
tags:
- cn
- life
- bittrex
- verification
- busy
thumbnail: https://cdn.steemitimages.com/DQmQPhRMGfdesDdsj2tqA4PaZYgrZFFHUKbKzAbzAVZ9NVC/image.png
sidebar:
    right:
        sticky: true
widgets:
    -
        type: toc
        position: right
---



一两天以前收到了Bittrex的标题为***Bittrex Account Verification Required***的邮件，其中提到：

>***If you are unable to complete the enhanced verification within the next 14 days your account will be disabled.  If your account is disabled, you will need to ID Verify your account and open a support request to have your account enabled.***

也就是说***14天内不进行增强的身份验证就会被禁用账户***，哎，原本我打算就这么将就用着，看来不验证不行啦。

![](https://cdn.steemitimages.com/DQmQPhRMGfdesDdsj2tqA4PaZYgrZFFHUKbKzAbzAVZ9NVC/image.png)
(图源 ：[Pixabay.com](https://pixabay.com/vectors/checked-green-right-circle-correct-295296/))

登录Bittrex后，到达[身份验证界面](https://international.bittrex.com/Manage?view=verification)，开始身份验证，步骤倒是也挺简单。

一些提示信息，我就不逐条翻译了
![](https://cdn.steemitimages.com/DQmNuhH1Jf3X2WhFtBGt3aS8Y4PwA9asATYSX5jPDLchKQ6/image.png)

进入到身份验证流程
![](https://cdn.steemitimages.com/DQmUGmvk1vVQVGQTbLddt9bp2ejLjZB4bG1oEjb3HZcURQS/image.png)

选择国家和证件类型
![](https://cdn.steemitimages.com/DQmacfqQD3PZvnbro4wvah98yyZMvADx1muf76jwYYZnsDM/image.png)

我选择的驾照，可选上传或拍照
![](https://cdn.steemitimages.com/DQmapPWypFeZfgnLQkTBSwCYYTDUTCETEJZPfTM1wxyTACX/image.png)

上传驾照照片
![](https://cdn.steemitimages.com/DQmVmTFphQpVbgtEMM5Lo4zu4RJYDjxkcpQnmQ1iAzVqjjF/image.png)

上传人像照片
![](https://cdn.steemitimages.com/DQmcnzgCL8uxZTBhwVziARoaZBsw7XCvj13ed9h7wUcHVuj/image.png)

等待认证成功
![](https://cdn.steemitimages.com/DQmdYDV1gQMAgPrXpMCYcMz1pj7gZCxCSfMHRA4k9hC5H6q/image.png)

我严格按照标准操作，以为肯定会通过验证呢，结果等了十多分钟后刷新一看，竟然提示如下信息：
![](https://cdn.steemitimages.com/DQmdvFZZuCasTetAcxAcPD8ddwwcSB7YTMwR3MWvyvLD5Wy/image.png)

擦，难道是因为我丑就不给我通过？必须找他们要个说法去。于是来到他们的技术支持站点，[Submit a request](https://bittrex.zendesk.com/hc/en-us/requests/new)，问一下为啥不给我通过，是不是因为我长得丑？颜值歧视是不对的。

客服响应还是很迅速的
>![](https://cdn.steemitimages.com/DQmc5FrNjUnVH6kG8v42oiS9vwk5Ean2fMDuuDsDx6pivMx/image.png)

说是从我驾照照片上没法获取我的名字，让我提供一下，那就提供呗，就把名字回复了过去，结果很快验证就通过了。

![](https://cdn.steemitimages.com/DQmWNTfMWxFLioyDG28jEfjBM7Q2Mb5pwgeiD4SKa4YhUK3/image.png)

虽然略有波折，但是整个流程还是很挺顺畅的，尤其是客服响应超级及时超级友好，在这里表扬一下 @bittrex  的客服***Lulu Jerico***。

通过验证后，转账限额什么的都变高了，这个对我而言影响倒是不大，我也没那么多钱来回转。最重要的是，不怕14天不验证就被封号了，这个麻烦啊，哈哈。

记录一下流程，还没做验证的朋友快去做一下吧。

----
<center><strong>Vote For Me As Witness</strong>
https://steemit.com/~witnesses type in **`oflyhigh`** and click ***`VOTE`***
[![](https://cdn.steemitimages.com/DQmX5NysqT44FBa3bhuWqQ69nAbseu8Nt5YQPn2pYejPVxA/image.png)](https://steemit.com/~witnesses)
[Vote @oflyhigh via Steemconnect](https://steemconnect.com/sign/account-witness-vote?witness=oflyhigh&approve=1)
<strong>Thank you!</strong></center>


- - -

This page is synchronized from the post: [通过了Bittrex的身份验证（Identity Verification）](https://steemit.com/@oflyhigh/bittrexidentity-verification)
